*
{
    padding:0;
    margin: 0;
}
header
{
    background-color: aqua;
    
    
}
.img
{
position: relative;
top: -65;
}
.menu ul
{
list-style: none;
padding: 10;
justify-content: flex-end;
display: flex;
}
.menu ul li
{
    font-size: 23;
    margin:15 ;
    
}

.menu ul li a
{
    text-decoration: none;
    
}
.menu ul li a:hover
{
    background-color: rgb(16, 113, 113);
    color:white;
    padding: 10;
    border-radius: 50px;
    transition: 1s;
}