*
{
    padding: 0;
    margin: 0;
}
header
{
background-color: rgb(236, 52, 52);
padding:20;
}
.img
{
position: relative;
top: -70;
}
.menu ul
{
    list-style: none;
    display: flex;
    justify-content:flex-end;

    
}
ul li

{
    margin: 12;
    font-size: 20;
}
ul li a
{
cursor: pointer;
text-decoration: none;
color: white;
}
ul li a:hover
{
background-color: rgb(169, 40, 40);
padding: 20px;
border-radius: 50px;
transition: 1s;
color: black;
}

.video
{
    text-align: right;
    height: 200px;
}
.audio
{
    position: relative;
    top: -150;
}